{{#examples}}
    <div class="show">
    <a href="/descriptions/{{directory}}"> <h2>{{name}}</h2>
    {{#if ../carsten}} <img class="screenshot" src="{{directory}}/screenshot.jpg"> {{/if}}
    </a>
    {{#if ../description}} <p> {{description}} </p> {{/if}}
    </div>
{{/examples}}
