<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>H O U S E of K I L L I N G</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <main>



            {{{body}}}
            <canvas id="paint"></canvas>
            <a href="/">
                <h1 id="top" class="headline"></h1>
                <h1 id="bottom" class="headline"></h1>
                <h1 id="left" class="headline"></h1>
                <h1 id="right" class="headline"></h1>
            </a>


        </main>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src = '/script.js'></script>


    </body>
</html>
