body {
  box-sizing: border-box;
  background: linear-gradient(292deg, #00ffbd, #baff00, #00fff1);
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  border: 2px pink solid;
  width: 1275px;
  height: 800px;
  z-index: 100;
}

footer a {
  font-size: 10px;
  font-style: italic;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

#houseofkillinghome {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999999;
  font-size: 10px;
  font-style: italic;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}
/* styling for home */
#project-container {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 100px;
  z-index: 999999;
}

.show {
  width: 30%;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.screenshot {
  float: bottom;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.screenshot:hover {
  opacity: 0.5;
}

h2 {
  font-family: arial;
  font-size: 20px;
  color: white;
  margin: 0;
}
p {
  font-family: helvetica;
  font-size: 15px;
}

a {
  font-style: normal;
  text-decoration: none;
}
#menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.descriptions-menu {
  background: linear-gradient(292deg, #00ffbd, #baff00, #00fff1);
  width: 70%;
  height: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  z-index: 999999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#description {
  margin: 40px;
  width: 70%;
}
.detailshot {
  float: bottom;
  width: 100%;
  height: 70%;
  object-fit: cover;
}

#main-title {
  z-index: 999999999999;
}

#main-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
