@keyframes gradientAnimator {
  0% {
    background-position: 34% 0%;
  }
  50% {
    background-position: 67% 100%;
  }
  100% {
    background-position: 34% 0%;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(
    180deg,
    #00fffd,
    #00ff1b,
    #fff500,
    #f390ff,
    #00ffe6
  );
  background-size: 1000% 1000%;
  animation: gradientAnimator 40s ease infinite;
  width: 100%;
  height: 100%;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 1275px;
  height: 800px;
  z-index: 100;
}
.headline {
  margin: 0;
  color: white;
  font-size: 60px;
  text-align: center;
  font-family: helvetica;
}
#top {
  position: fixed;
  width: 90%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999;
}
#bottom {
  position: fixed;
  bottom: 0;
  width: 90%;
  left: 50%;
  z-index: 999999;
  transform: translateX(-50%) rotate(180deg);
}
#left {
  position: fixed;
  height: 100%;
  left: 0;
  bottom: 50%;
  transform: translateY(+50%) rotate(180deg);
  writing-mode: vertical-rl;
  z-index: 999999;
}
#right {
  position: fixed;
  bottom: 50%;
  right: 0;
  height: 100%;
  /* transform: translateX(-50%); */
  transform: translateY(+50%);
  writing-mode: vertical-rl;
  text-orientation: sideways;
  margin: 0;
  z-index: 999999;
}

#hiddenmessage {
  visibility: hidden;
}
