<div class="descriptions-menu">

        <div id="menu"> {{>projecttemplate description=true}} </div>

        <div id=description>
        <a href="/{{currentProject.directory}}"> <h4>{{currentProject.name}}  </h4> </a>
        <p> {{currentProject.descriptions}} </p>
        <img class="detailshot" src="/{{currentProject.directory}}/screenshot.jpg">
        </div>


</div>
