* {
    background-color: pink;
}
body {
    margin: 0px;
    /* display: flex;
    justify-content: space-between;
    flex-direction: row; */
}

.headlines {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    z-index: 8;
}

a {
    padding-right: 40px;
    text-decoration: none;
    color: blue;
}

a:hover {
    color: yellow;
    text-decoration: underline;
}

#ticker1 {
    position: relative;
    overflow: hidden;
    border-bottom: 2px blue solid;
    height: 20px;
}

#ticker2 {
    position: relative;
    overflow: hidden;
    border-bottom: 2px blue solid;
    height: 20px;
}
#ticker3 {
    position: relative;
    overflow: hidden;
    border-bottom: 2px blue solid;
    height: 20px;
}
#ticker4 {
    position: relative;
    overflow: hidden;
    border-bottom: 2px blue solid;
    height: 20px;
}
#ticker5 {
    position: relative;
    overflow: hidden;
    border-bottom: 2px blue solid;
    height: 20px;
}
#ticker6 {
    position: relative;
    overflow: hidden;
    border-bottom: 2px blue solid;
    height: 20px;
}
